<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'Crear producto' }) %>
        <link rel="stylesheet" href="/css/createProduct.css">
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <div>
            <h2>Formulario de creación de productos</h2>
        </div>
        <div>
            <form action="/products" method="POST" enctype="multipart/form-data">
                <div>
                    <div>
                        <label for="productName" class="form-label">Nombre del producto:</label>
                        <input type="text" id="productName" name="productName" class="form-input" required>
                    </div>
                    <div>
                        <label for="description" class="form-label">Descripción:</label>
                        <textarea name="description" id="description" class="form-input" required></textarea>
                    </div>
                    <div>
                        <label for="bigImage" class="form-label">Carga la imagen de tu producto(872x497):</label>
                        <input type="file" name="bigImage" accept=".jpg" accept=".png" id="bigImage" class="form-input">
                        <label for="mediumImage" class="form-label">Carga la imagen de tu producto(746x312):</label>
                        <input type="file" name="mediumImage" accept=".jpg" accept=".png" id="mediumImage"
                            class="form-input">
                        <label for="littleImage1" class="form-label">Carga la imagen de tu producto(372x187):</label>
                        <input type="file" name="littleImage1" accept=".jpg" accept=".png" id="littleImage1"
                            class="form-input">
                        <label for="littleImage2" class="form-label">Carga la imagen de tu producto(372x187):</label>
                        <input type="file" name="littleImage2" accept=".jpg" accept=".png" id="littleImage2"
                            class="form-input">
                    </div>
                    <div>
                        <label for="transport" class="form-label">Transporte:</label>
                        <select name="transportName" id="transportName" class="form-input">
                            <option value="">Elegí</option>
                            <option value="Vuelo">Vuelo</option>
                            <option value="Bus">Bus</option>
                        </select>
                    </div>
                    <div>
                        <label for="operatedBy" class="form-label">Operado por:</label>
                        <input type="text" id="operatedBy" name="operatedBy" class="form-input" required>
                    </div>
                    <div>
                        <label for="hotel" class="form-label">Nombre del hotel:</label>
                        <input type="text" id="hotelName" name="hotelName" class="form-input" required>
                    </div>
                    <div>
                        <label for="nights" class="form-label">Cantidad de noches:</label>
                        <input type="text" id="nights" name="nights" class="form-input" required>
                    </div>
                    <div>
                        <label for="roomType" class="form-label">Tipo de habitación:</label>
                        <input type="text" id="roomType" name="roomType" class="form-input" required>
                    </div>
                    <div>
                        <h4 class="form-input">Actividad:</h4>
                        <div>
                            <label for="activity1" class="form-label">Descripción de la actividad:</label>
                            <input type="text" id="activityName" name="activityName" class="form-input" required>
                        </div>
                            
                    </div>
                    <div>
                        <h4 class="form-input">Categorías:</h4>
                            <select name="category_id" id="category_id" required>
                                <option value="" disabled selected>- Seleccionar categoria - </option>
                                <% allCategories.forEach( category => { %>
                                <option value="<%= category.id %>"><%= category.categoryName %></option>
                                <% }); %>
                            </select>
        
                    </div>
                    <div>
                        <label for="price" class="form-label">Precio del producto:</label>
                        <input type="text" id="price" name="price" class="form-input" required>
                    </div>

                    <div class="create-btn">
                        <button type="submit" class="createbutton">Crear producto</button>
                    </div>
                </div>


            </form>
        </div>
    </main>
</body>

</html>