<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <header>

        <div class="logo-header">
            <img src="/images/logo-blanco-40trip.svg" alt="Logo de 40Trip">
        </div>

        <nav class="menu-principal">
            <a href="#">Menú principal</a> 
        </nav>

    </header>

        <form action="/edit/<%= product.id %>?_method=PATCH " method="POST" enctype="multipart/form-data" id="edit">

            <h1> Editando: <%= product.productName %>  </h1>
            
            <div class="input">
       
                 <input class="nombre" type="text" name="" id="nombre" placeholder="Nombre:" required>

                 <input class="precio" type="text" name="" id="precio" placeholder="Precio:" required> <br>
                
                 <input class="descuento" type="text" name="" id="descuento" placeholder="Descuento:" required>
                    
                 <input class="categoria" type="text" name="" id="categoria" placeholder="Categoría:" required> <br>

            </div>

            <div class="descripcion"> <input type="text" name="" id="name" placeholder="Descripción:" required> <br> </div>

            <div class="buttons">
                
                <button class="guardar" type="submit"> Guardar cambios</button>
                

            </div>

        </form>

        <form action="/delete/<%= product.id %>?_method=DELETE" method="POST" enctype="multipart/form-data"> <button class="borrar" type="reset"> Eliminar producto</button> </form>

</body>
</html>