<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <header>

        <div class="logo-header">
            <img src="/images/logo-blanco-40trip.svg" alt="Logo de 40Trip">
        </div>

        <nav class="menu-principal">
            <a href="#">Menú principal</a> 
        </nav>

    </header>

        <form action="post" id="edit">

            <h1>Edita tu producto</h1>
            
            <div class="img-product">
                <img src="" alt="Imagen del producto">
            </div>

            <div class="input">

                    
                <label for=""> Nombre: </label> <br> <input type="text" name="" id="name" required> <br>

                    
                <label for=""> Precio: </label> <br> <input type="text" name="" id="name" required> <br>
                    
                    
                <label for=""> Descripcion: </label> <br> <input class="descripcion" type="text" name="" id="name" required> <br>

            </div>

            <div class="buttons">
    
                <button class="guardar" type="submit"> Guardar cambios</button>
                <button class="borrar" type="reset"> Eliminar cambios</button>

            </div>

        </form>

</body>
</html>