<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <main>

        <form action="post" id="edit">
            <div class="edit">
                <h1>Edita tu producto</h1>
                    <div class="grupo">
                        <input type="text" name="" id="name" required><span class="barra"></span>
                        <label for=""> Nombre </label>
                    </div>
                <div class="grupo">
                    <input type="text" name="" id="name" required><span class="barra"></span>
                    <label for=""> Precio </label>
                </div>
    
                <div class="grupo">
                    <input type="text" name="" id="name" required><span class="barra"></span>
                    <label for=""> Descripcion </label>
                </div>
    
                <button type="submit"> Guardar cambios</button>
                <button type="reset"> Eliminar cambios</button>
            </div>
        </form>

    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>

</body>
</html>