<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Detalle del producto'}) %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <!-- Header -->
	<%- include('partials/header-navbar') %>
	<!-- /Header -->

</body>
</html>