<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="/css/productCart.css">
    <script src="https://kit.fontawesome.com/3753969343.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <header>

        <div class="logo-header">
            <img src="/images/logo-blanco-40trip.svg" alt="Logo de 40Trip">
        </div>

        <nav class="menu-principal">
            <a href="#">Menú principal</a> 
        </nav>

    </header>
    
    <main>

        <div class="titulo">
            <h1> Reservas </h1>
        </div>

        <div>

            <section class="sec1">

                <ul> 

                    <li> <h3> Hosteria 01</h3> </li> 
                    <li> <p> Av.Bustillo 937, San Carlos de Bariloche </p> </li> 

                </ul>

                <ul>

                    <li> <h3> Fecha</h3> </li>
                    <li> <p> Del xx/xx al xx/xx </p> </li>
                    
                </ul>

                <ul>
                    <li> <h3> Cancelación gratis </h3> </li>
                    <li> <p> Antes del (dia) del (mes) del (año) </p> </li>
                </ul>

            </section>

            <section class="sec2">

                <ul>
                    <li> <h3> Hosteria 02</h3> </li> 
                    <li> <p> Av.Savio 937, San Nicolás de los Arroyos </p> </li> 

                </ul>

                <ul>

                    <li> <h3> Fecha</h3> </li>
                    <li> <p> Del xx/xx al xx/xx </p> </li>
                    
                </ul>

                <ul>
                    <li> <h3> Cancelación gratis </h3> </li>
                    <li> <p> Antes del (dia) del (mes) del (año) </p> </li>
                </ul>

            </section>

            <section class="sec3">

                <ul> 
                    <li> <h3> Hosteria 03</h3> </li> 
                    <li> <p> Av.Pellegrini 937, Ushuaia </p> </li> 
                </ul>

                <ul>

                    <li> <h3> Fecha</h3> </li>
                    <li> <p> Del xx/xx al xx/xx </p> </li>
                    
                </ul>

                <ul>
                    <li> <h3> Cancelación gratis </h3> </li>
                    <li> <p> Antes del (dia) del (mes) del (año) </p> </li>
                </ul>

            </section>

        </div>

    </main>

    <footer>

        <div>
            <div class="footer1">

                <div class="logo-footer">
                    <img src="/images/logo-blanco-40trip.svg" alt="Logo de 40Trip">
                </div>

                <nav class="nav-bar">
                    <ul>
                        <li class="siguenos-en"> <h3> Síguenos en: </h3> </li>
                    </ul> 

                    <a href="https://es-la.facebook.com"> <i class="fab fa-facebook"></i> </a>    
                    <a href="https://www.instagram.com"> <i class="fab fa-instagram"></i> </a>    

                    <ul> 
                        <li> <a href="#"> Condiciones generales </a> </li>
                        <li> <a href="#"> Política de seguridad </a> </li>
                        <li> <a href="#"> Términos y condiciones del uso del sitio </a> </li>
                    </ul>
                </nav>
            </div>

            <div class="footer2">
                <p class="der-reservados"> © 2022 Todos los derechos reservados | </p>

                <nav class="privacidad">
                    <a href="#">Política de privacidad</a>
                </nav>

            </div>

        </div>

    </footer>

</body>
</html>