@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&family=PT+Sans+Narrow:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Color */
    --azul: #0e3b43;
    --celeste: #009fb7;
    --rosado: #e4d6a7;
    --grisclaro: #eaeaea;
    /* Font family */
    --inter:'Inter', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

header {
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-header {
    margin: 20px;
}

header .menu-principal {
    margin: 20px;
    font-family: var(--roboto);
}

header nav {
    position: absolute;
    right: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
}

div img {
    max-height: 5rem;
    max-width: 10rem;
}

/* main {
    height: 63.2vh;
} */

main h1 {
    padding: 1rem;
    margin: 1rem 1rem;
    font-family: 'PT Sans Narrow';
}

main div section ul {
        width: 60%;
    }
    
main ul li {
    margin: 1rem 5rem;
}

main ul li a {
    text-decoration: none;
    font-family: 'PT Sans Narrow';
    color:black;
    font-size: 1.5rem;
}

footer div {
    background-color: var(--azul);
}

footer .footer1 {
    display: flex;
    justify-content: space-between;
    font-family: var(--roboto);
}

footer div .logo-footer {
    order: 1;
    margin: 20px;
}

footer div .siguenos-en {
    color: white;
}

footer div a {
    text-decoration: none;
    color: white;
}

footer .der-reservados {
    color: white;
    margin-bottom: 0.8rem;
}

footer .footer2 {
    display: flex;
    justify-content: center;
    font-family: var(--roboto);
}

footer div .nav-bar {
    margin: 10px;
}

footer div .nav-bar i {
    color: white;
    
    margin-left: 1rem; 
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

@media (max-width: 420px) {

    main div section ul h3 {    
    font-size: 15px;
    }

    main div section ul p {    
        font-size: 14px;
        }

    footer .footer2 {
        padding: 0.5rem;
        font-size: 0.7rem;
    }

    

} 

@media (max-width: 560px) {

    footer .footer1 {
        flex-direction: column-reverse;
    }

    footer .logo-footer{
        align-self: end;
    }

} 