* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Color */
    --azul: #0e3b43;
    --celeste: #009fb7;
    --rosado: #e4d6a7;
    --grisclaro: #eaeaea;
    /* Font family */
    --inter:'Inter', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-header {
    margin: 20px;
}

header .menu-principal {
    margin: 20px;
    font-family: var(--roboto);
}

header nav a {
    color: white;
    text-decoration: none;
}

/* Form */
form {
    background-color: var(--grisclaro);
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    height: 90vh;
    width: 100vw;
    justify-content: center;
}

form h1 {
    text-align: center;
    font-family: var(--roboto);
    margin-bottom: 1rem;
    width: 100vw;
}

form .input {
    width: 80vw;
    height: 25vh;
    text-align: center;
}

form .input input {
    width: 40%;
    margin: 1rem 3rem 1rem 3rem;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: none;
    text-align: start;
}

form .descripcion {
    width: 75vw;
    justify-content: center;
    text-align: center;
}

form .descripcion input {
    height: 6rem;
    width: 80%;
    margin: 1rem 0rem 1rem 0;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: none;
    text-align: start;
}

form .text-danger {
    color: red;
    font-size: 12px;
}

form div a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 2rem;
}

.buttons {
    width: 100vw;
    text-align: center;
}

form div button .guardar{
    background-color: var(--azul-claro);
    font-size: 2em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
    border: none;
    width: 100%;
}

.borrar {
    width: 30vw;
    padding: 0.5rem 0rem;
    border-radius: 5px;
    margin: 0 1rem 0 1rem;
    text-align: center;
    }

    button .guardar {
        transition: background-color 0.3s ease;
        cursor: pointer;
        background-color: white;
    }
    
    .guardar:hover {
        background-color: var(--azul);
        color: white;
    }

@media (max-width: 1225px) {
    form .input input {
        width: 35%;
    }

    form .input {
        text-align: center;
    }
}