* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    background: #1A2980;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    font-weight: 700;
}

form div .recordame{
    display: flex;
    flex-direction: row;
}


form {
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 50px;
}

.form {
    width: 100%;
    margin: auto;
}
button:hover {
    background-color: rgba(13, 53, 196, 0.922);
    transition: 300ms;
}

form div a {
    color: rgb(87, 87, 87);
    padding: 0.8rem;
    margin: 8rem;
}

a:hover {
    color: rgba(0, 24, 235, 0.652);
    transition: 300ms;
}


form .grupo {
    position: relative;
    margin: 45px;
}
input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: 0.5px solid #ebebeb;
    border-radius: 10px;
}
input:focus {
    outline: none;
    color: #666;
}

label {
    color: #666;
    font-size: 16px;
}

form .text-danger {
    color: red;
}


button{
    font-family: 'roboto';
    border: none;
    font-weight: 600;
    border-radius: 20px;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: rgb(15, 15, 15);
    height: 40px;
}
p {
    font-size: 12px;
    color: #666;
    margin-left: auto;
    
}
h3 {
    margin-top: 20px;
}

form .botones button{
    border: 1px solid #b9b9b9;
    font-weight: 600;
    color: black;
    background-color: #fff;
}
form .botones button i {
    text-align: left;
}

h4 {
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
    color: #666;

}

form .ingresar button {
    color: #138f8d;
    border: 1px solid #138f8d;
    font-size: 20px;
    background-color: #fff;
}

.recordame {
    margin-left: 40px;
}

.main-menu {
    font-size: 18px;
    text-decoration: none;
    color: rgb(15, 15, 15);
    padding: 5px;
}

.invalid {
    border: solid 1px red;
    box-shadow: 0 0 10px red
}

form .text-danger {
    color: red;
    font-size: 12px;
}

.error {
    color: red;
    display: block;
}

.valid {
    border: solid 1px green;
    box-shadow: 0 0 10px green
}