@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&family=PT+Sans+Narrow:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    /*colors*/
    --azul-oscuro: #0E3B43;
    --azul-claro: #009FB7;
    --champagne: #E4D6A7;
    --negro: #000000;
    --blanco: #fff;
    --gris-claro: #EAEAEA;
}

/*Estilos globales*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/*Header*/

/* Header */
header {
    background-color:#0E3B43;
    display: flex;
    align-items: center;
}

header .logo-header {
    margin: 20px;
}

header .menu-principal {
    margin: 8rem;
    font-family:'Roboto';
    font-size: 15px;
}

header nav a {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 60px;
}


/*main*/

/*main div.container{
    display: flex;
    padding: 5px;
    margin-top: 20px;
    justify-content: center;
}*/
main div.conteiner {
    background-color: #E4D6A7;
}
main div img {
    margin-left: 40rem;
}
.container img {
    padding: 3px;
    display: block;
}

.column1 img {
    width: 700px;
    height: 400px;
    margin-top: 5px;
    text-align: center;

}

.column2 img {
    width: 700px;
    height: 200px;
    text-align: center;
    margin-bottom: 4px;
}


.button a {
    font-family: PT Sans Narrow;
    font-size: 2rem;
    color: var(--negro);
    text-decoration: none;
    border: 2px solid var(--champagne);
    background-color: var(--champagne);
    border-radius: 30px;
    padding: 2px;
    position: relative;
    left: 12rem;
    bottom: 4rem;
}


.productTitle {
    display: block;
    width: 100%;
}

h1 {
    font-family: Inter;
    font-weight: bold;
    font-size: 4rem;
    color: var(--azul-oscuro);
    margin-top: 3rem;
    margin-left: 25rem;
}

h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 2rem;
    color: var(--azul-oscuro);
    margin-top: 5rem;
    margin-left: 20rem;
}


article {
    border: 3px solid var(--azul-claro);
    border-radius: 20px;
    width: 80rem;
    height: 10rem;
    text-align: center;
    margin-left: 20rem;
    margin-bottom: 5rem;
    padding: 5px;
}

a.button2 {
    font-family: Roboto;
    font-size: 1.5rem;
    color: var(--azul-claro);
    text-decoration: none;
    border: 1px solid var(--azul-claro);
    background-color: var(--champagne);
    border-radius: 30px;
    padding: 5px;
}

.input p {
    display: inline-block;
}

p.tittle {
    font-family: Roboto;
    font-size: 1.5rem;
    color: var(--negro);
    text-align: left;
    padding: .3rem;
}

p.subtittle {
    font-family: Roboto;
    font-weight: lighter;
    font-size: 1rem;
    color: var(--negro);
    text-align: left;
    padding-left: .6rem;

}

.date {
    font-family: Roboto;
    font-size: 1.4rem;
    color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.date p {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 7rem;
}

.box1 {
    width: 50%;
    font-family: Roboto;
    font-size: 1.4rem;
    color: var(--negro);
}

.box1 .tittle,
.box1 .subtittle {
    float: left;
}

.box1 .subtittle {
    padding-top: 0.5rem;
}

.box1 .top {
    display: flex;
    justify-content: flex-start;
    margin-top: 3rem;
    margin-left: 6rem;
}

.box1 .bottom {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: 6rem;
}

.light {
    font-family: Roboto;
    font-weight: lighter;
}

.box1 a {
    float: right;
    margin-bottom: 5rem;
}


.box2 {
    width: 30%;
    float: right;
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    flex-wrap: wrap;
}

.price {
    background-color: var(--azul-claro);
    font-family: Roboto;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    font-family: Roboto;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    margin: 50px;
    flex-grow: 1;
    margin-left: 25rem;
}

.vertical-line {
    border-left: 1px solid var(--gris-claro);
    height: 10rem;
    left: 50%;
    position: absolute;
}

.description {
    font-family: Roboto;
    color: #fff;
    margin-right: 15rem;
}

p.tittle1 {
    font-size: 15px;
    text-align: center;
}

p.tittle2 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

p.tittle3 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

p.tittle4 {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}

.reserva a {
    font-family: Roboto;
    font-weight: bold;
    font-size: 2rem;
    color: var(--azul-claro);
    text-decoration: none;
    border: 2px solid var(--azul-claro);
    background-color: var(--champagne);
    border-radius: 30px;
    padding: 5px;
    margin-right: 15rem;
}

/* Footer */
footer div {
    background-color: #0E3B43;
}

footer ul li {
    text-decoration: none;
    color: var(--blanco);
    list-style: none;
}

footer .footer1 {
    display: flex;
    justify-content: space-between;
    font-family: var(--roboto);
}

footer div .logo-footer {
    order: 1;
    margin: 20px;
}

footer div .siguenos-en {
    color: white;
}

footer div a {
    text-decoration: none;
    color: white;
    list-style: none;
}

footer .der-reservados {
    color: white;
    margin-bottom: 0.8rem;
}

footer .footer2 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
}

footer div .nav-bar {
    margin: 10px;
}

footer div .nav-bar i {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}