* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Color */
    --azul: #0e3b43;
    --celeste: #009fb7;
    --rosado: #e4d6a7;
    --grisclaro: #eaeaea;
    /* Font family */
    --inter:'Inter', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-header {
    margin: 20px;
}

header .menu-principal {
    margin: 20px;
    font-family: var(--roboto);
}

header nav {
    position: absolute;
    right: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
}

div img {
    max-height: 5rem;
    max-width: 10rem;
}

/* Main */
main .titulo {
    margin: 35px 25px;
    font-family: var(--inter);
}

main div section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: var(--inter);
}

main div section ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 33%;
}

main div section ul li {
    list-style-type:none;
    margin: 5px 12%;
    align-self: center;
}

main div .sec1 {
    background-color: var(--grisclaro);
    margin: 5% 10%;
}

main div .sec2 {
    background-color: var(--grisclaro);
    margin: 5% 10%;
}

main div .sec3 {
    background-color: var(--grisclaro);
    margin: 5% 10%;
}

/* Footer */
footer div {
    background-color: var(--azul);
}

footer .footer1 {
    display: flex;
    justify-content: space-between;
    font-family: var(--roboto);
}

footer div .logo-footer {
    order: 1;
    margin: 20px;
}

footer div .siguenos-en {
    color: white;
}

footer div a {
    text-decoration: none;
    color: white;
}

footer .der-reservados {
    color: white;
    margin-bottom: 0.8rem;
}

footer .footer2 {
    display: flex;
    justify-content: center;
    font-family: var(--roboto);
}

footer div .nav-bar {
    margin: 10px;
}

footer div .nav-bar i {
    color: white;
    
    margin-left: 1rem; 
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

@media (max-width: 420px) {

    main div section ul h3 {    
    font-size: 15px;
    }

    main div section ul p {    
        font-size: 14px;
        }

    footer .footer2 {
        padding: 0.5rem;
        font-size: 0.7rem;
    }

    main div section ul {
        width: 60%;
    }

} 

@media (max-width: 560px) {

    footer .footer1 {
        flex-direction: column-reverse;
    }

    footer .logo-footer{
        align-self: end;
    }

} 


    @media (max-width: 768px) {

    main div section {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    main div section ul {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
    }

    main div .sec1 {
        width: 70%;
        max-width: 400px;
        align-self: center;
        margin: auto;
        margin-bottom: 2rem;
    }
    
    main div .sec2 {
        width: 70%;
        max-width: 400px;
        align-self: center;
        margin: auto;
        margin-bottom: 2rem;
    }
    
    main div .sec3 {
        width: 70%;
        max-width: 400px;
        align-self: center;
        margin: auto;
        margin-bottom: 2rem;
    }

}

@media (min-width: 1200px) {
    main div section .ul-fecha {
        width: 20%;
    }
}